@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3b8cf7;
  --color-primary-content: #c4ff88;
  --color-secondary: #0f172a;
  --color-secondary-content: #f9f3e7;
  --color-neutral: #0e0d0c; /* Dark Black*/
  --color-base-content: #5b6777;
  --color-base-100: #e5e7eb;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}

.btn-primary {
  @apply border border-base-100 text-base-content rounded-md px-2 md:px-5 py-1.5 md:py-2 text-[10px] md:text-sm font-semibold cursor-pointer;
}

/* Common Style */
@layer components {
  .title {
    @apply text-lg md:text-2xl font-semibold;
  }
  .mid-container {
    @apply max-w-7xl mx-auto px-2.5;
  }
}
